*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #3B3B98;
}

main{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 400px;
    margin: 150px auto;
    padding: 10px 8px;
}

main h2{
    text-align: center;
    font-size: 30px;
}

main .passRes{
    background-color: rgba(0, 0, 0, 0.541);
    padding: 5px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /* position: relative;
    overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .clearify{
    content: '';
    display: table;
    clear: both;
} */

.passRes button{
    background-color: #3B3B98;
    color: white;
    padding: 3px 5px;
    font-size: 20px;
    cursor: pointer;
    /* position: absolute;
    right: 0;
    top: 0; */
}

.passwordOptions{
    margin: 20px 0 0 0;
}

.passwordOptions .passOption{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.result{
    color: #fff;
    font-weight: 600;
}

#passBtn{
    width: 100%;
    background-color: #3B3B98;
    outline: none;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
}